MONGODB_URI=mongodb+srv://informaticoelineas6_db_user:Informatico*789@cajascluster.qjorpm7.mongodb.net/ControlCajas?retryWrites=true&w=majority

# opcional: si tienes problemas TLS puedes permitir certificados inválidos
# MONGODB_TLS_ALLOW_INVALID=true
JWT_SECRET=WhereAreMyBoxes